@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:ital,wght@0,400;1,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}






/*----------------------Colours---------------------------*/


Background grey-black #263538
whiteish #FDFDFF
SIlver #C6C5B9
tealy-blue #62929E
staely-grey #546A7B


/*----------------------headings and margins and padiding---------------------------*/


body {
    font-family: 'Montserrat', sans-serif;
    
}

h1 { 
    font-family: 'Comfortaa', cursive;
    color: #c6c5b9;
}

.lead {color: #c6c5b9;}

/*----------------------Containers---------------------------*/
.alert-container   {
    background-color: #c6c5b9;
    margin: 0 auto;
    text-align: center;
    color: #212529;
    font-size: larger;

   
} 



.nav-container  {}

.callout-container {
    height: 100vh;

    background: url(../images/card-table.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutbridge-container {}


.learnbridge-container {}

.playbridge-container {}

.signup-container {}

.footer-container {}

/*----------------------Alert banner---------------------------*/
 .aboutbridge-container {}


 

 .alert {margin-bottom: 0;}

 .alert-link {color: #212529;}

/*----------------------Nav Bar---------------------------*/

.list-inline {margin:0 auto;}

.nav-link {position: right;}

/*----------------------Special paddings/margins/text---------------------------*/



/*----------------------Callout section---------------------------*/
.about-bridge-link {
    color: #c6c5b9;
    text-decoration: none;

}

.callout-link {color: #c6c5b9;
    text-align: center;
    text-decoration: none;

}




/*----------------------Headings---------------------------*/


/*----------------------Hover.css---------------------------*/



/*----------------------About Bridge---------------------------*/


/*----------------------Learn Bridge---------------------------*/


/*----------------------Play Bridge---------------------------*/


/*----------------------Sign Up---------------------------*/



/*----------------------Footer ---------------------------*/


/*----------------------Modal---------------------------*/


/*----------------------Media Queries---------------------------*/
