@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:ital,wght@0,400;1,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}






/*----------------------Colours---------------------------*/


Background grey-black #263538
whiteish #FDFDFF
SIlver #C6C5B9
tealy-blue #62929E
staely-grey #546A7B





/*----------------------Containers---------------------------*/
.alert-container   {
   
} 

.nav-container  {}

.callout-container {
    height: 100vh;

    background: url(../images/card-table.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutbridge-container {}
.learnbridge-container {}

.playbridge-container {}

.signup-container {}

.footer-container {}

/*----------------------Alert banner---------------------------*/


/*----------------------Special paddings/margins/text---------------------------*/



/*----------------------Headings---------------------------*/


/*----------------------Hover.css---------------------------*/



/*----------------------About Bridge---------------------------*/


/*----------------------Learn Bridge---------------------------*/


/*----------------------Play Bridge---------------------------*/


/*----------------------Sign Up---------------------------*/



/*----------------------Footer ---------------------------*/


/*----------------------Modal---------------------------*/


/*----------------------Media Queries---------------------------*/
